%ul.comment-list
  - @comments.each do |comment|
    %li
      .indv-comment
        .commenter-name
          - if current_user.role == "admin"
            %a.delete-button.delete-comment-button{:resourceId => "#{@commentable.id}", :value => "#{comment.id}"}
              -if comment.flagged
                Marcado
                %i.fa.fa-times
              -else
                %i.fa.fa-times
          - else
            -if comment.flagged
              %h6.flag-button
                Está marcado
            -else
              %a.flag-button.flag-comment-button{:resourceId => "#{@commentable.id}", :value => "#{comment.id}"}
                %i.fa.fa-flag
          %p
            = User.find(comment.user_id).email
        .comment-text
          %p
            = comment.content
          %span.date.sub-text.comment-date
            = comment.created_at
- if user_signed_in?
  %input#comment-input.form-control{:placeholder => "Escribe un comentario", :type => "text"}/
  %br/
  %button.btn.btn-primary.send-comment-button{:value => "#{@commentable.id}"}
    Comentar
    %i.fa.fa-comment
%br/
%br/

%script{:src => "/assets/comment_buttons.js" }

