.row
  .col-md-4.col-md-offset-4
    = form_for @course_evaluation, url: course_course_evaluations_path, html: { class: "form form-horizontal course_evaluation" } do |f|
      .form-group
        = f.label :difficulty, 'Seleccione la dificultad', class: 'control-label'
        .controls.styled-select
          = f.select :difficulty, options_for_select([['Muy fácil','1'],['Fácil','2'],['Regular','3'],['Difícil','4'],['Muy difícil','5']]),{}, {:class => "selectpicker" }
        = error_span(@course_evaluation[:overall_score])
      %hr
      = f.submit 'Añadir evaluación',class: 'btn btn-primary'
      = link_to t('.cancel', :default => t('Cancelar')), course_path(id: @course_id), :class => 'btn btn-default'


