= form_for @course_evaluation, url: course_course_evaluations_path, html: { class: "form form-horizontal course_evaluation" } do |f|
  .form-group
    = f.label :professor_courses, 'Seleccione la dificultad (5 es lo más difícil)', class: 'control-label'
    .controls
      = f.select :difficulty, options_for_select(['1','2','3','4','5']),{}, {:style => "width:450px;" }
    = error_span(@course_evaluation[:overall_score])
  = f.submit 'Añadir evaluación',class: 'btn btn-primary'
  = link_to t('.cancel', :default => t('Cancelar')), course_path(id: @course_id), :class => 'btn btn-default'

