= form_for @course_evaluation, html: { class: "form form-horizontal course_evaluation" } do |f|
  .form-group
    = f.label :difficulty, class: 'control-label'
    .controls
      = f.text_field :difficulty, class: 'form-control', required: true
    = error_span(@course_evaluation[:difficulty])
  .form-group
    = f.label :user_id, class: 'control-label'
    .controls
      = f.text_field :user_id, class: 'form-control', required: true
    = error_span(@course_evaluation[:user_id])
  .form-group
    = f.label :course_id, class: 'control-label'
    .controls
      = f.text_field :course_id, class: 'form-control', required: true
    = error_span(@course_evaluation[:course_id])
  = f.submit nil,class: 'btn btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), course_evaluations_path, :class => 'btn btn-default'
