- @professors.each do |professor|
  .row.item-box
    .col-md-8
      %p.float-right
      %h3= "Profesor: #{professor.name} #{professor.last_name}"
      %p= "Universidad: #{professor.school.university.name} (id = #{professor.school.university.id})"
      %br
      %p= "Escuela: #{professor.school.name} (id = #{professor.school.id})"
    .col-md-4
      .buttons-container.pull-right.clear
        = link_to '', :class => 'margin-right-10 accept-button', userId: "#{professor.creator_id}", resourceId: "#{professor.id}" , resource: "professors",remote: true do
          %i.fa.fa-check-circle-o>
            Aceptar
        = link_to '', :class => 'margin-left-10 reject-button', userId: "#{professor.creator_id}", resourceId: "#{professor.id}" , resource: "professors", remote: true do
          %i.fa.fa-ban>
            Rechazar

