- model_class = Professor
.page-header
  
  %h1.text-center.title
    = @professor.name + ' ' + @professor.last_name
  = link_to new_professor_professor_evaluation_path(professor_id: @professor.id), :class => 'eval-button add-button' do
    %i.fa.fa-pencil-square-o
      Evaluar profesor

.row
  .col-md-12
    .col-md-6
      %table.table.table-striped
        %thead
          %tr
            %th Criterio de evaluacion
            %th.text-center Promedio
        %tbody
          %tr
            %td Calificación general
            %td.text-center= calculate_overall(@professor.overall_score, @eq)
          %tr
            %td Puntual llegando a clases temprano
            %td.text-center= calculate_overall(@professor.overall_arrival_puntuality, @eq)
          %tr
            %td Puntual entregando evaluaciones revisadas
            %td.text-center= calculate_overall(@professor.overall_feedback_puntuality, @eq)
          %tr
            %td Conocimiento y dominio de la materia
            %td.text-center= calculate_overall(@professor.overall_knowledge, @eq)
          %tr
            %td Atiende dudas de los estudiantes
            %td.text-center= calculate_overall(@professor.overall_addresses_questions, @eq)
          %tr
            %td Se intereza por el aprendizaje del estudiante
            %td.text-center= calculate_overall(@professor.overall_learning_interest, @eq)
          %tr
            %td Dificultad del curso con este profesor
            %td.text-center= calculate_overall(@professor.overall_difficulty, @eq)
          %tr
            %td Claridad de las explicaciones
            %td.text-center= calculate_overall(@professor.overall_clearness, @eq)
          %tr
            %td Respeto hacia los estudiantes
            %td.text-center= calculate_overall(@professor.overall_respect, @eq)
      %hr
    .col-md-6
      .prof-list
        %h3 Evaluado en los cursos:
        %br
  
        .row
          .col-md-10.col-md-offset-1
            #list8
              %ul
                - @professor_courses.each do |course|
                  %li.text-center
                    - eval = ProfessorCourseEvaluation.where(['professor_id = ? and course_id = ?',@professor.id,course.id]).limit(1).first
                    = link_to professor_course_evaluation_path(id: eval.id) do
                      = "#{course.name} (#{eval.evaluation_quantity})"
        %hr
  .row
    / Comment section
    .col-md-10.col-md-offset-1.comments-column
      %section#comment-section
        %h4.text-center Comentarios
        #comments
      %button.show-comments-button{:action => "show", :value => "#{@professor.id}"}
        Mostrar Comentarios
        %i.fa.fa-comments
  %hr

:javascript
  $(".show-comments-button").click(function() {
      var action = $(this).attr("action");
      if(action == "show") {

          /*
          var articleId = $(this).attr("value");
          $.ajax({
            method: "get",
            url: "/articles/"+articleId+"/comments",
            async: false,
            success: function(html){
              $('#comments').html(html);
              $('#comment-section').css("display","block");
            }
          });*/
          $(this).attr("action", "hide");
          $(this).html('Ocultar comentarios <i class="fa fa-sort-asc"></i>');
      }else {
          $('#comment-section').css("display", "none");
          $(this).attr("action", "show");
          $(this).html('Mostrar Comentarios <i class="fa fa-comments"></i>');
      }
  });
