= form_for @school, html: { class: "form form-horizontal school" } do |f|
  .form-group
    = f.label :name, class: 'control-label'
    .controls
      = f.text_field :name, class: 'form-control', required: true
    = error_span(@school[:name])
  .form-group
    = f.label :university_id, class: 'control-label'
    .controls
      = f.text_field :university_id, class: 'form-control', required: true
    = error_span(@school[:university_id])
  = f.submit nil,class: 'btn btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), schools_path, :class => 'btn btn-default'
