- model_class = School
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:name)
      %th= model_class.human_attribute_name(:university_id)
      %th= model_class.human_attribute_name(:created_at)

  %tbody
    - @schools.each do |school|
      %tr
        %td= school.id
        %td= school.name
        %td= school.university_id
        %td=l school.created_at

