= form_for @course, url: school_courses_path(school_id: @school_id), html: { class: "form form-horizontal course" } do |f|
  .form-group
    = f.label :name, 'Nombre del curso',class: 'control-label'
    .controls
      = f.text_field :name, class: 'form-control', required: true
    = error_span(@course[:name])
  = f.submit 'Agregar curso',class: 'btn btn-primary'
  = link_to t('.cancel', :default => t("Cancelar")), school_courses_professors_path, :class => 'btn btn-default'
