= render partial: "partials/alerts", flash: flash
- model_class = Course
.page-header

  = link_to new_school_course_path, :class => 'eval-button add-button' do
    %i.fa.fa-plus-circle
      Agregar curso

  #sorts-courses.button-group
    %button.button-courses.button.is-checked{"data-sort-by" => "original-order"} Orden Original
    %button.button-courses.button{"data-sort-by" => "name"} Nombre

  %hr
  .row
    .col-md-10.col-md-offset-1
      .isotope-courses
        - @courses.each do |course|
          - if course.state.eql? "accepted"
            = link_to course_path(id: course.id) do
              .element-item
                %svg
                  %line.top{:x1 => "0", :x2 => "900", :y1 => "0", :y2 => "0"}
                  %line.left{:x1 => "0", :x2 => "0", :y1 => "460", :y2 => "-920"}
                  %line.bottom{:x1 => "300", :x2 => "-600", :y1 => "460", :y2 => "460"}
                  %line.right{:x1 => "300", :x2 => "300", :y1 => "0", :y2 => "1380"}
                %h3.name= course.name
                %p.label Cantidad de evaluaciones:
                %p.quantity= course.evaluation_quantity
  %hr

%script{:src => "/assets/courses.js" }
