- @courses.each do |course|
  .row.item-box{resource: 'courses'}
    .col-md-8
      %p.float-right
      %h3= "Curso: #{course.name}"
      %p= "Universidad: #{course.school.university.name} - id = #{course.school.university.id}"
      %br
      %p= "Escuela: #{course.school.name} (id = #{course.school.id})"
    .col-md-4
      .buttons-container.pull-right.clear
        = link_to '', :class => 'accept-button margin-right-10', userId: "#{course.creator_id}", resourceId: "#{course.id}" , resource: "courses",remote: true do
          %i.fa.fa-check-circle-o>
            Aceptar
        = link_to '', :class => 'reject-button margin-left-10', userId: "#{course.creator_id}", resourceId: "#{course.id}" , resource: "courses", remote: true do
          %i.fa.fa-ban>
            Rechazar
