- model_class = Course
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:name)
      %th= model_class.human_attribute_name(:overall_difficulty)
      %th= model_class.human_attribute_name(:school_id)
      %th= model_class.human_attribute_name(:created_at)
  %tbody
    - @courses.each do |course|
      %tr
        %td= link_to course.id, course_path(course)
        %td= course.name
        %td= course.overall_difficulty
        %td= course.school_id
        %td=l course.created_at

= link_to t('.new', :default => t("helpers.links.new")), new_school_course_path, :class => 'btn btn-primary'