.row
  .col-md-10.col-md-offset-1
    .page-header
      %h1.text-center.title= @course.name

  .row
    .col-md-10.col-md-offset-1
      = link_to new_course_course_evaluation_path(course_id: @course.id), :class => 'eval-button add-button' do
        %i.fa.fa-pencil-square-o
          Calificar dificultad
      %div.clear
      %hr
      .row
        .col-md-12
          .col-md-6
            %p.diff-label Dificultad promedio del curso:
            %p.diff-num= "(#{@difficulty_average})"
            %br
          .col-md-6
            .prof-list
              %h3 Lista de profesores
              %br
            #list8
              %ul
                - @course_professors.each do |professor|
                  %li.text-center
                    = link_to professor_path(id: professor.id) do
                      = professor.name + ' ' + professor.last_name
      %hr
      %section#comment-section
        %h4.text-center Comentarios
        #comments
      %button.show-comments-button{:action => "show", :value => "#{@course.id}"}
        Mostrar Comentarios
        %i.fa.fa-comments
      %hr
      
= link_to 'Atras', school_courses_professors_path(school_id: @course.school_id), :class => 'btn btn-default'
%hr
      
:javascript
  $(".show-comments-button").click(function() {
      var action = $(this).attr("action");
      if(action == "show") {

          /*
          var articleId = $(this).attr("value");
          $.ajax({
            method: "get",
            url: "/articles/"+articleId+"/comments",
            async: false,
            success: function(html){
              $('#comments').html(html);
              $('#comment-section').css("display","block");
            }
          });*/
          $(this).attr("action", "hide");
          $(this).html('Ocultar comentarios <i class="fa fa-sort-asc"></i>');
      }else {
          $('#comment-section').css("display", "none");
          $(this).attr("action", "show");
          $(this).html('Mostrar Comentarios <i class="fa fa-comments"></i>');
      }
  });


