= form_for @university, html: { class: "form form-horizontal university" } do |f|
  .form-group
    = f.label :name, class: 'control-label'
    .controls
      = f.text_field :name, class: 'form-control', required: true
    = error_span(@university[:name])
  .form-group
    = f.label :banner, class: 'control-label'
    .controls
      = f.text_field :banner, class: 'form-control', required: true
    = error_span(@university[:banner])
  .form-group
    = f.label :webpage, class: 'control-label'
    .controls
      = f.text_field :webpage, class: 'form-control', required: true
    = error_span(@university[:webpage])
  = f.submit nil,class: 'btn btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), universities_path, :class => 'btn btn-default'
